# Dependencies
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Build
build/
dist/
lib/
tmp/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

.flatten-project.sh