# Core Jupyter environment
jupyterlab
ipykernel

# SP-API SDK
amzn-sp-api

# Utils
requests
python-dotenv

# Server Tools
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.18
pydantic==2.9.2
pydantic-settings==2.5.2